.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  border-bottom: 1px solid var(--color-border);
}

.channelTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.messageArea {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.messageGroup {
  display: flex;
  margin-bottom: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.messageContent {
  flex: 1;
  max-width: 100%;
  overflow-x:hidden ;
  word-break: break-word;
}

.messageHeader {
  display: flex;
  align-items: center;
}

.username {
  font-weight: 600;
  margin-right: 8px;
}

.timestamp {
  font-size: 12px;
  color: var(--color-text-muted);
}

.messageText {
  color: var(--color-foreground);
  margin-top: 4px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.inputArea {
  padding: 16px;
  border-top: 1px solid var(--color-border);
}

.inputForm {
  display: flex;
}

.messageInput {
  flex: 1;
  background-color: var(--color-input-bg);
  color: var(--color-foreground);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 16px 1px 4px 16px;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
}

.sendButton {
  background-color: var(--color-button-primary);
  color: white;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendButton:hover {
  background-color: var(--color-button-primary-hover);
}


.channelTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.iconGroup{
  display: flex;
  gap: 8px;
  align-items: center;
}

.ShareButton {
  all: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px 32px;
  width: 100%;
  color: var(--color-text-muted);
  cursor: pointer;
}

.ShareButton:hover {
  background-color: var(--color-sidebar-hover);
  color: var(--color-foreground);
}

.ShareText {
  margin-left: 8px;
  font-size: 14px;
}